

input#file-upload {
  visibility: hidden;
}

#drop-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3ac4c4;
  border: 1px dashed #fcfcfc;
  border-radius: 1rem;
}

